extends layout

block content
    include ./partials/header
    .container
        h1= name 
        ul
            li I live in #{cityResisding}
            li I was born in #{countryBorn} 
            li My job is #{job}
            if relation 
                li I am Huashen's #{relation}
        
